@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="home-container">

    <div class="home-heading">
        Welcome To <br/><span class="green-text">FarMart</span>
    </div>
    <div class = "home-subheading">
        Your digital marketplace for locally-grown goodness<span class="green-text">.</span>
    </div>

    <div class="home-description">
        Discover and enjoy a bountiful selection of farm-fresh produce, straight from local growers to your table. Join us in supporting community farms while savoring the freshest flavors around!
    </div>


    <div class="home-register">
        <div class="question">Don't have an account?</div>
        <div class="button-container">
            <a asp-controller="Home" asp-action="Register" class="cta-button">Register Here</a>
        </div>
    </div>

    <div class="image-container">
        <img src="https://media.istockphoto.com/id/1193489879/photo/counter-with-fresh-vegetables-and-a-sign-of-local-products.jpg?s=612x612&w=0&k=20&c=IAxCjg0iPzti27G5i3CucOAfooabuJPR3Ry94hi9jtM=" alt="Description of the image">
    </div>

</div>
