@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>We value your privacy and want you to understand how we collect, use, and disclose your personal information. Below
    is a summary of our Privacy Policy:</p>

<h2>Information Collection and Use</h2>

<p>We may collect personal information such as your name, email address, and phone number to provide and improve our
    services. We use this information to:</p>
<ul>
    <li>Provide and maintain our services</li>
    <li>Communicate with you</li>
    <li>Improve our services</li>
    <li>Ensure the security of our services</li>
</ul>

<h2>Log Data</h2>

<p>When you use our services, we may collect information that your browser sends whenever you visit our website ("Log
    Data"). This may include your device's IP address, browser type, browser version, and the pages of our website that
    you visit.</p>

<h2>Cookies</h2>

<p>We use cookies to improve your experience on our website. You can choose to accept or decline cookies. If you decline
    cookies, some features of our website may not function properly.</p>
<h2>Third-Party Services</h2>

<p>We may use third-party services to collect, monitor, and analyze information in order to improve our services and
    your experience. These third-party service providers have their own privacy policies addressing how they use such
    information.</p>

<h2>Security</h2>

<p>We value your trust in providing us with your personal information. We strive to use commercially acceptable means to
    protect your personal information, but please be aware that no method of transmission over the internet, or method
    of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>

<h2>Changes to This Privacy Policy</h2>

<p>We may update our Privacy Policy from time to time. You are advised to review this Privacy Policy periodically for
    any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

<h2>Contact Us</h2>

<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
<ul>
    <li>Address: 730 N 14th St, Lincoln, NE 68588</li>
    <li>Phone: 531-229-0000</li>
</ul>