@model IEnumerable<Product>

@{
    ViewData["Title"] = "List of Products";
}

<body>
  <div class="container">
    <h2 class="mt-5 mb-5">Products:</h2>
    <div class="row">

      @foreach (var item in Model) 
        {
          <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
              <img class="card-img-top" src="@item.ImageURL" alt="Onion" style="width: auto; height: 450px;">
              <div class="card-body">
                <h4 class="card-title">@item.Name</h4>
                <h5>$XXX/lb</h5>
                <p class="card-text">@item.Description</p>
              </div>
            </div>
          </div>
        }

    </div>
  </div>
</body>


  