.main-container {
    background-image: url("https://www.worldatlas.com/r/w1200/upload/3a/c4/c1/shutterstock-653708227.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    width: 700px;
    text-align: center;
}

.column {
    display: flex;
    margin-left: -15px; /* Add negative margin to counteract default padding */
    margin-right: -15px; /* Add negative margin to counteract default padding */
}

.column-one,
.column-two {
    width: 50%;
    padding-left: 15px; /* Add padding to each column to space them out */
    padding-right: 15px; /* Add padding to each column to space them out */
}

.form-group {
    margin-bottom: 30px;
    width: 100%; /* Ensure form groups take up full width */
}


.form-group {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
}

.form-group label {
    text-align: left;
    display: block;
}


.form-control {
    width: 100%;
    padding: 8px;
    border: 2px solid #3d8a49;
    border-radius: 8px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #3d8a49;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2f6d3f;
}

.register-options {
    margin-top: 20px;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
}

.nav-item {
    margin-right: 80px;
}

.nav-links {
    font-size: 25px;
    color: #276761;
    text-decoration: none;
}
